@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

* {
    margin: 0;
}

html, body {
    min-height: 100vh;
}

header {
    background-color: black;
    padding: 40px;
}

h1 {
    font-family: "Passion One", sans-serif;
    font-variant: small-caps;
    color: white;
    text-align: center;
    font-size: 10vw;
}

h2 {
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 20;
}

h2 > a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

h2 > a:hover {
    text-decoration: underline;
}

section > p {
    font-family: "Sriracha", sans-serif;
    padding: 10vh 5vh 10vh 5vh;
    font-size: 3.5vw;
    line-height: 2em;
}

p.sobreposto {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    width: 45%;
    margin: 70px 10px;
}

.branco {
    background-color: white;
}

#flor {
    background-image: url("imagens/background001.jpg");
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

#livro {
    background-image: url("imagens/background002.jpg");
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

footer {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 70px;
}